<div class="card" style="width: 18rem;">
    <div class="card-body">


        <h5 class="card-title">
          {{CityName}}
        </h5>


        <img src="http://api.openweathermap.org/img/w/{{icon}}.png" class="card-img-top" alt="imege weather" />

    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item">&#127777; {{temp}}&#8451;</li>
        <li class="list-group-item">&#127777;&#8779; {{feels_like}}&#8451;</li>
        <li class="list-group-item">&#32;лал░ {{pressure}}</li>
        <li class="list-group-item">&#32;&#127788; {{windSpeed}} m/sec</li>

    </ul>
    <div class="card-body">
        </label>
    </div>

</div>